#syspower {
  background: rgba(0, 0, 0, 0);
}

#syspower .box_buttons {
  background: rgba(30, 30, 46, 0.9);
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.9);
}

#syspower .button_shutdown {
  background: rgba(88, 91, 112, 0.9);
}

#syspower .button_shutdown:hover {
  background: rgba(69, 71, 90, 1);
}

#syspower .button_reboot {
  background: rgba(88, 91, 112, 0.9);
}

#syspower .button_reboot:hover {
  background: rgba(69, 71, 90, 1);
}

#syspower .button_logout {
  background: rgba(88, 91, 112, 0.9);
}

#syspower .button_logout:hover {
  background: rgba(69, 71, 90, 1);
}

#syspower .button_suspend {
  background: rgba(88, 91, 112, 0.9);
}

#syspower .button_suspend:hover {
  background: rgba(69, 71, 90, 1);
}

#syspower .button_cancel {
  background: rgba(88, 91, 112, 0.9);
}

#syspower .button_cancel:hover {
  background: rgba(69, 71, 90, 1);
}
